<div class="layui-card">
    <div class="layui-card-body">
        <script type="text/html" template lay-url="System/View/GetSiteTemplateInfo" lay-type="post" lay-data="{'ID':'{{ d.params.ID }}','SiteID':'{{ d.params.SiteID }}'}" lay-done="BW.callback['diag-site-templateinfo'](d)">
            <form class="layui-form" id="diag-site-templateinfo" lay-filter="diag-site-templateinfo" action="System/View/SaveSiteTemplateInfo">
                <div class="layui-form-item">
                    <label class="layui-form-label">模板名称：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="Name" class="layui-input" value="{{ d.info.Name || ""}}" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">模板类型：</label>
                    <div class="layui-input-inline">
                        <select name="Platform" data-enum="BW.Views.PlatformSource" lay-filter="diag-site-templateinfo-platform" data-value="{{ d.info.Platform }}"></select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">绑定域名：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="Domain" class="layui-input" value="{{ d.info.Domain || ""}}" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-inline">
                        <input type="checkbox" name="IsDefault" title="是否默认：" />
                    </div>
                </div>
                <div class="view-index-content layui-bg-gray" id="diag-site-templateinfo-views"></div>
                <hr />
                <div class="layui-form-item">
                    <input type="hidden" name="ID" value="{{ d.info.ID }}" />
                    <input type="hidden" name="SiteID" value="{{ d.params.SiteID }}" />
                    <button class="layui-btn layui-btn-block" lay-submit lay-filter="diag-site-templateinfo-submit">保存</button>
                </div>
            </form>
        </script>
    </div>
</div>

<script type="text/html" id="diag-site-templateinfo-views-template">
    <div class="layui-inline">
        {{# layui.each(d.info.list,function(index,item){ }}
        <div class="layui-inline">
            <div class="layui-card">
                <div class="layui-card-header">
                    {{ item.Name }}
                    <a href="javascript:" class="am-icon-gear layui-right layui-text-ft22 layui-text-gray" data-popup="diag/site/viewsetting" data-data='{"ID":"{{ item.ID }}"}'></a>
                    <input type="hidden" name="{{ item.ID }}" value="" />
                </div>
                <div class="layui-card-body">
                    <div class="layui-row layui-col-space10">
                        {{# layui.each(item.Models,function(index,model){ }}
                        <div class="layui-col-md6 model {{ (d.Models.length === 0 && index === 0) || (d.Models.contains(model.ID)) ? "selected" : "" }}" data-modelid="{{ model.ID }}">
                            <a href="javascript:" class="preview" style="background-image:url('{{ UI.GetImage(model.Preview) }}');"></a>
                            <label>{{ model.Name }}</label>
                            <em class="am-icon-circle-o"></em>
                        </div>
                        {{# })}}
                    </div>
                </div>
            </div>
        </div>
        {{# }) }}
    </div>
</script>
<script type="text/javascript">
    BW.callback['diag-site-templateinfo'] = function (result) {
        delete BW.callback['diag-site-templateinfo'];
        layui.use(["betwin", "laytpl", "form", "table"], function () {
            var betwin = layui.betwin,
                laytpl = layui.laytpl,
                form = layui.form,
                table = layui.table,
                $ = layui.$;

            var template = document.getElementById("diag-site-templateinfo-views-template").innerHTML;
            // 加载视图
            var loadData = function (platform) {
                betwin.admin.req({
                    url: "System/View/SettingList",
                    data: { Platform: platform },
                    success: function (res) {
                        res.Models = result.info.Models;

                        laytpl(template).render(res, function (html) {
                            document.getElementById("diag-site-templateinfo-views").innerHTML = html;
                        })
                    }
                });
            };

            form.on("select(diag-site-templateinfo-platform)", function (e) {
                loadData(e.value);
            });

            loadData("PC");

            $("#diag-site-templateinfo-views").on("click", ".model", function () {
                if (this.hasClass("selected")) return;
                var parent = this.getParent("layui-row");
                var list = parent.querySelectorAll(".model");
                for (var i = 0; i < list.length; i++) {
                    list[i].removeClass("selected");
                }
                this.addClass("selected");
            });

            betwin.form.render("diag-site-templateinfo");

            betwin.form.submit("diag-site-templateinfo-submit", function (data) {
                var model = [];
                var models = document.getElementById("diag-site-templateinfo-views").querySelectorAll(".model.selected");
                for (var i = 0; i < models.length; i++) {
                    model.push(models[i].getAttribute("data-modelid"));
                }
                data["Model"] = model.join(",");
                return data;
            }, {
                success: function (res, data, index) {
                    layer.close(index);
                    table.reload("diag-site-template-list");
                    return false;
                }
            });

            betwin.admin.popup("#diag-site-templateinfo-views");
        });
    }
</script>