<style type="text/css">
</style>
<script type="text/html" template lay-done="BW.callback['diag-site-template'](d)">
    <div class="layui-tab layui-tab-brief" lay-filter="diag-site-template-tab" id="diag-site-template-tab">
        <ul class="layui-tab-title">
            {{# layui.each(GolbalSetting.enum["BW.Views.PlatformSource"],function(key,name){ }}
            <li lay-id="{{ key }}">{{ name }}</li>
            {{# }) }}
        </ul>
        <button class="layui-btn layui-btn-right" data-popup="diag/site/template/add" data-data='{"SiteID":"{{ d.params.SiteID }}"}'><i class="am-icon-plus"></i> 添加模板</button>
    </div>
    <div class="layui-tab-content layui-card">
        <div class="layui-card-body">
            <table class="layui-table" id="diag-site-template-list" lay-filter="diag-site-template-list"></table>
        </div>
    </div>
</script>
<script type="text/javascript">
    BW.callback['diag-site-template'] = function (result) {
        delete BW.callback['diag-site-template'];
        layui.use(["betwin", "table", "element"], function () {
            var betwin = layui.betwin,
                table = layui.table,
                element = layui.element;
            $ = layui.$;

            var siteId = result.params.SiteID;
            betwin.admin.popup("#diag-site-template-tab");

            table.render({
                elem: "#diag-site-template-list",
                data: [],
                page: false,
                cols: [[
                    { title: "ID", field: "ID", width: 80 },
                    { title: "平台", field: "Platform", width: 100 },
                    { title: "默认模板", templet: "<div>{{ htmlFunction.bool(d.IsDefault) }}</div>", width: 80 },
                    { title: "模板名称", field: "Name", width: 200 },
                    { title: "域名", field: "Domain" },
                    {
                        title: "操作", width: 120, templet: GolbalSetting.templet.control({
                            edit: {
                                action: "diag/site/template/info",
                                area: "lg"
                            },
                            copy: {
                                action: "diag/site/template/copy",
                                area: "md",
                                title: "复制模板",
                                icon:"am-icon-copy"
                            },
                            delete: "System/View/SiteTemplateDelete"
                        })
                    }
                ]]
            });
            betwin.table.tool("diag-site-template-list");

            element.on("tab(diag-site-template-tab)", function (e) {
                var platform = this.getAttribute("lay-id");
                table.reload("diag-site-template-list", {
                    url: "Merchant/Site/TemplateList",
                    where: {
                        SiteID: siteId,
                        Platform: platform
                    }
                })
            });

            element.tabChange("diag-site-template-tab", "PC");


        });
    }
</script>
