<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Handler">
          <match url=".*"/>
          <action type="Rewrite" url="http://localhost:41002/{R:0}"/>
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="POST"/>
          </conditions>
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>